/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked{overflow:hidden;-ms-touch-action:none;touch-action:none}.remodal,[data-remodal-id]{display:none}.remodal-overlay{position:fixed;z-index:9999;top:-5000px;right:-5000px;bottom:-5000px;left:-5000px;display:none}.remodal-wrapper{position:fixed;z-index:10000;top:0;right:0;bottom:0;left:0;display:none;overflow:auto;text-align:center;-webkit-overflow-scrolling:touch}.remodal-wrapper:after{display:inline-block;height:100%;margin-left:-.05em;content:""}.remodal-overlay,.remodal-wrapper{-webkit-backface-visibility:hidden;backface-visibility:hidden}.remodal{position:relative;outline:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}.remodal-is-initialized{display:inline-block}

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening, .remodal-bg.remodal-is-opened {filter: blur(3px); }

/* Default theme styles of the overlay */
.remodal {max-width: 970px; }
.remodal-overlay {background: rgba(255,255,255,0.75); }
.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing {-webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }
.remodal-overlay.remodal-is-opening {-webkit-animation-name: remodal-overlay-opening-keyframes; animation-name: remodal-overlay-opening-keyframes; }
.remodal-overlay.remodal-is-closing {-webkit-animation-name: remodal-overlay-closing-keyframes; animation-name: remodal-overlay-closing-keyframes; }

.remodal-wrapper { padding: 1rem 1rem 0; }

.remodal {-webkit-transform: translate3d(0, 0, 0); background: #fff; box-shadow: 0 0 15px rgba(0,0,0,.2); box-sizing: border-box; margin-bottom: 10px; transform: translate3d(0, 0, 0); width: 100%; }
.remodal.remodal-is-opening, .remodal.remodal-is-closing { animation-duration: 0.3s; animation-fill-mode: forwards; }
.remodal.remodal-is-opening {animation-name: remodal-opening-keyframes; }
.remodal.remodal-is-closing {animation-name: remodal-closing-keyframes; }
.remodal, .remodal-wrapper:after {vertical-align: middle; }

.remodal-close { align-items: center; background: #603F2F; border: 0; border-radius: 50%; color: #fff; cursor: pointer; display: flex; height: 35px; margin: 0; outline: 0; padding: 0; position: absolute; right: 1.5rem; text-decoration: none; top: 1.5rem; transition: all .25s; width: 35px; }
.remodal-close:hover, .remodal-close:focus {background: #B59A82; }
.remodal-close:before {content: "\00d7"; display: block; font-size: 1.75rem; font-weight: bold; line-height: 35px; position: absolute; text-align: center; top: 0; width: 35px; }

/* Dialog buttons */

.remodal-confirm, .remodal-cancel {border: 0; cursor: pointer; display: inline-block; font: inherit; margin: 0; min-width: 110px; outline: 0; overflow: visible; padding: 12px 0; text-align: center; text-decoration: none; transition: background 0.2s; vertical-align: middle; }
.remodal-confirm {color: #fff; background: #81c784; }
.remodal-confirm:hover, .remodal-confirm:focus {background: #66bb6a; }
.remodal-cancel {color: #fff; background: #e57373; }
.remodal-cancel:hover, .remodal-cancel:focus {background: #ef5350; }

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {border: 0; padding: 0; }

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    filter: blur(0);
    opacity: 1;
    transform: none;
  }
}

@keyframes remodal-opening-keyframes {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    filter: blur(0);
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    filter: blur(0);
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    filter: blur(0);
    opacity: 0;
    transform: scale(0.95);
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
